<li>
	<i class="fas fa-hamburger"></i>
	{{id}}
	{{burger_name}}

	<button class="devoured-btn" id = "{{id}}" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devour!{{else}}Reorder!{{/if}}
	</button>
</li>
